<p id="notice"><%= notice %></p>

<p>
  <b>Nameb:</b>
  <%= @bar.nameb %>
</p>

<p>
  <b>Hoodb:</b>
  <%= @bar.hoodb %>
</p>

<p>
  <b>Kindb:</b>
  <%= @bar.kindb %>
</p>

<p>
  <b>Dateb:</b>
  <%= @bar.dateb %>
</p>

<p>
  <b>Patiob:</b>
  <%= @bar.patiob %>
</p>

<p>
  <b>Costb:</b>
  <%= @bar.costb %>
</p>

<p>
  <b>Ambiguousb:</b>
  <%= @bar.ambiguousb %>
</p>

<p>
  <b>Addyb:</b>
  <%= @bar.addyb %>
</p>


<%= link_to 'Edit', edit_bar_path(@bar) %> |
<%= link_to 'Back', bars_path %>
