<% @bars.each do |bar| %>
  <%= bar.ambiguousb %>
  <br /><br />
  <%= link_to( "Give me another drink option.", params.merge( :controller => "requests", :action => "bar" ), remote: true) %>
  <br />
  <span class="hidden drinksname"><br /><h6>When you're ready, head over to:</h6>
  <%= bar.nameb %><br /><br />
	Share what you're doing: <span style="display:inline-block"><%= social_share_button_tag("Having a spontaneous night via Noctaneous. Come find me at #{bar.nameb}! Try it out here", url: root_url) %></span><br /><br /></span>
  <p><a class="cursor drinksshow">I'm lame and hate surprises.</a></p>
  <%= link_to "Get me there!", bar.addyb, class: "small button" %>
<% end %>