<h3>What are you up to tonight?</h3>

<%= form_tag result_path, :method => 'get' do %>
  <p>
    How much will you spend on dinner?
    <%= select_tag(:cost, options_for_select([['$', 1], ['$$', 2], ['$$$',3], ['$$$$',4]])) %>
    Is the weather too good to pass up?
    <%= check_box_tag :patio, params[:patio] %><br />
    Is this a date?:
    <%= check_box_tag :date, params[:date] %><br />
    What neighborhoods are you thinking?<br />
    Buckhead: <%= check_box_tag :buckhead, params[:buckhead] %>
    Midtown: <%= check_box_tag :midtown, params[:midtown] %>
    Decatur: <%= check_box_tag :decatur, params[:decatur] %>
    VA Highlands: <%= check_box_tag :vahighlands, params[:vahighlands] %><br />
    <%= submit_tag "Be Noctaneous!", :name => nil %>
  </p>
<% end %>

