<span class="hidden"><div class="slideThree">  
  <input type="checkbox" value="None" id="slideThree" name="check" />
  <label for="slideThree"></label>
</div></span>

<h3>What are you up to tonight?</h3>

<%= form_tag result_path, :method => 'get', class: "custom" do %>
  <ul class="inline-list">
    <li>
      <label for="dinner" class="dinnerselect icon">
      <span class="hidden"><%= check_box_tag :dinner, params[:dinner] %></span>
      <%= render 'questions/dinnericon' %>
      </label></span>
    </li>
    <li>
      <label for="drinks" class="drinksselect icon">
      <span class="hidden"><%= check_box_tag :drinks, params[:drinks] %></span>
      <%= render 'questions/drinksicon' %>
      </label>
    </li>
  </ul>
  <span id="firstStop"></span>
    <span class="dinnertoggle hidden"><label for="cost">What's your dinner price cap?</label>
    <%= select_tag(:cost, options_for_select([['$ : Cheap, Under $10', 1], ['$$ : Moderate, $11 - $30', 2], ['$$$ : Spendy, $31 - $60',3], ['$$$$ : Splurge, Above $61',4]]), class: "medium") %></span>
  <span id="secondStop" class="jrdinner"></span>
    <span class="drinkstoggle hidden"><label for="costb">What's your drinking price cap?</label>
    <%= select_tag(:costb, options_for_select([['$ : Inexpensive', 1], ['$$ : Moderate', 2], ['$$$ : Pricey',3], ['$$$$ : Ultra-High End',4]]), class: "medium") %>
  <span id="thirdStop"></span>
    <label for="kindb">Which do you prefer?</label>
    <%= select_tag(:kindb, options_for_select([['Bar or Nightclub works', "Either"], ['Just Bars', "Bar"], ['Just Nightclubs', "Nightclub"]]), class: "medium") %></span>
  <span id="fourthStop"></span>
  <ul class="inline-list">
    <li>
      <label for="patio">Is the weather too good to pass up?
      <%= check_box_tag :patio, params[:patio] %></label>
    </li>
  </ul>
  <span id="fifthStop"></span>
  <ul class="inline-list">
    <li>
      <label for="date">Bringing someone special?
      <%= check_box_tag :date, params[:date] %></label>
    </li>
  </ul>
  <span id="sixthStop"></span>
    <label>What neighborhoods are you thinking?</label>
    <label for="buckhead"><%= check_box_tag :buckhead, params[:buckhead] %> Buckhead</label>
    <label for="midtown"><%= check_box_tag :midtown, params[:midtown] %> Midtown</label>
    <label for="decatur"><%= check_box_tag :decatur, params[:decatur] %> Decatur</label>
    <label for="vahighlands"><%= check_box_tag :vahighlands, params[:vahighlands] %> VA Highlands</label><br />
    <%= submit_tag "Be Noctaneous!", :name => nil, class: "small button" %>
<% end %>
