<span class="hidden"><%= text_field_tag "Dinner?", params[:dinner] %></span>

<% if params[:dinner] != "on" && params[:drinks] != "on" %>
  <h3>You forgot something!</h3>
  <h5>Go <a class="cursor" onclick="goBack()">back</a> and select what you're doing tonight!</h5>

<% else %>
  <h3>Let's see what you're up to tonight.</h3>
  <h5>
    You have 
    <% if params[:dinner] == "on" && params[:drinks] == "on" %><%= pluralize(Restaurant.search(params).count, "dinner option") %> and <%= pluralize(Bar.search(params).count, "drink option") %>.
    <% elsif params[:dinner] == "on" %><%= pluralize(Restaurant.search(params).count, "dinner option") %>.
    <% elsif params[:drinks] == "on" %><%= pluralize(Bar.search(params).count, "drink option") %>.<% end %>
  </h5>

  <% if params[:dinner] == "on" %>
    <% if @restaurants.count == 0 %>
      <h5>No restaurant matches. Head <a class="cursor" onclick="goBack()">back</a> and loosen it up!</h5>
    <% else %>
      <h6>For dinner...</h6>
      <div id="ajax">
        <%= render 'requests/dinnerresult' %>
      </div>
    <% end %>
  <% end %>

  <% if params[:drinks] == "on" %>
    <% if @bars.count == 0 %>
      <h5>No wateringhole matches. Head <a class="cursor" onclick="goBack()">back</a> and loosen it up!</h5>
    <% else %>
      <h6>For drinks...</h6>
      <div id="ajaxb">
        <%= render 'requests/drinksresult' %>
      </div>
    <% end %>
  <% end %>

<% end %>
<div id="test"><%= @restaurantname %></div>