<% if params[:dinner] != "on" && params[:drinks] != "on" %>
  <h3>You forgot something!</h3>
  <h5>Go <a class="cursor" onclick="goBack()">back</a> and select what you're doing tonight!</h5>

<% else %>
  <h3>Let's see what you're up to tonight.</h3>
  <h5>
    You have 
    <% if params[:dinner] == "on" && params[:drinks] == "on" %><%= pluralize(Restaurant.search(params).count, "dinner option") %> and <%= pluralize(Bar.search(params).count, "drink option") %>.
    <% elsif params[:dinner] == "on" %><%= pluralize(Restaurant.search(params).count, "dinner option") %>.
    <% elsif params[:drinks] == "on" %><%= pluralize(Bar.search(params).count, "drink option") %>.<% end %>
  </h5>

  <% if params[:dinner] == "on" %>
    <% if @restaurants.count == 0 %>
      <h5>No restaurant matches. Head <a class="cursor" onclick="goBack()">back</a> and loosen it up!</h5>
    <% else %>
      <h6>For dinner...</h6>
      <% @restaurants.each do |restaurant| %>
        <p><%= restaurant.ambiguous %></p>
        <span class="hidden dinnername"><h6>Head on over to:</h6>
        <p><%= restaurant.name %></p></span>
        <p><a class="cursor dinnershow">I'm lame and hate surprises.</a></p>
        <%= link_to "Give me the directions!", restaurant.addy, class: "small button" %>
      <% end %>
    <% end %>
  <% end %>

  <% if params[:drinks] == "on" %>
    <% if @bars.count == 0 %>
      <h5>No wateringhole matches. Head <a class="cursor" onclick="goBack()">back</a> and loosen it up!</h5>
    <% else %>
      <h6>For the party...</h6>
      <% @bars.each do |bar| %>
        <p><%= bar.ambiguousb %></p>
        <span class="hidden drinksname"><h6>When you're ready, head over to:</h6>
        <p><%= bar.nameb %></p></span>
        <p><a class="cursor drinksshow">I'm lame and hate surprises.</a></p>
        <%= link_to "Get me there!", bar.addyb, class: "small button" %>
      <% end %>
    <% end %>
  <% end %>

  <!-- Have the shuffle hide if only one option -->
  <% if (@restaurants.count == 1 && Restaurant.search(params).count > 1) || (@bars.count == 1 && Bar.search(params).count > 1) %> 
    <h3>Not your style?</h3>
    <INPUT TYPE="button" VALUE="Do the Shuffle!" onClick="history.go(0)" class="small button">
  <% end %>

<% end %>