<h3>Let's see what you're up to tonight.</h3>


<% @restaurants.each do |restaurant| %>
  <p><%= restaurant.ambiguous %></p>

  <h3>Not your style?</h3>
  <INPUT TYPE="button" VALUE="Do the Shuffle!" onClick="history.go(0)" class="small button">

  <h3>Ready to rock?</h3>
  <p>Head on over to...</p>
  <p><%= restaurant.name %></p>
  <%= link_to "How do I get there?", restaurant.addy, class: "small button" %>
<% end %>

<% @bars.each do |bar| %>
  <p><%= bar.ambiguousb %></p>
  <p><%= bar.nameb %></p>
<% end %>