<%= form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :hood %><br />
    <%= f.text_field :hood %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.check_box :date %>
  </div>
  <div class="field">
    <%= f.label :patio %><br />
    <%= f.check_box :patio %>
  </div>
  <div class="field">
    <%= f.label :cost %><br />
    <%= f.number_field :cost %>
  </div>
  <div class="field">
    <%= f.label :ambiguous %><br />
    <%= f.text_area :ambiguous %>
  </div>
  <div class="field">
    <%= f.label :addy %><br />
    <%= f.text_field :addy %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
